{% extends "base.html" %}

{% block head_title %}
My Recipe Collection
{% endblock %}

{% block Page_Title %}
My Recipe Collection
{% endblock %}

{% block Recipe_Title %}
Recipe Name
{% endblock %}

{% block Recipe_Description %}
    This recipe is great!
{% endblock %}

{% block Heading1_title %}
    Another Recipe
{% endblock %}

{% block Heading1_contents %}
    It'd delicious
{% endblock %}

{% block Heading2_title %}
    Browse Recipe recipe
{% endblock %}

{% block Heading2_contents %}
    Also delicious
{% endblock %}

{% block Heading3_title %}
    Another photo
{% endblock %}

{% block Heading3_contents %}
    Even more delicious
{% endblock %}

{% block footer_contents %}
    Chris Harnett <br>
    Student Number 20188141
{% endblock %}