{% extends "base.html" %}

{% block head_title %}
My Recipe Collection
{% endblock %}

{% block Page_Title %}
My Recipe Collection
{% endblock %}

{% block Recipe_Title %}
{{ r1['name'] }}
{% endblock %}

{% block Recipe_Description %}
    <br><img src="{{ url_for('static', filename='img/{}'.format(r1['pic'])) }}" alt="{{ r1['description'] }}">
{{ r1['description'] }}
{% endblock %}

{% block Heading1_title %}
    {{ r2['name'] }}
{% endblock %}

{% block Heading1_contents %}
{{  r2['description'] }}
{% endblock %}

{% block recipe_footer_link_1 %}
    {{ url_for('view.html', recipe=r2.name) }}
{% endblock %}


{% block Heading2_title %}
    {{ r3['name'] }}
{% endblock %}

{% block Heading2_contents %}
    {{  r3['description'] }}
{% endblock %}

{% block Heading3_title %}
    {{ r4['name'] }}
{% endblock %}

{% block Heading3_contents %}
    {{  r4['description'] }}
{% endblock %}

{% block footer_contents %}
    Chris Harnett <br>
    Student Number 20188141
{% endblock %}