{% extends "base.html" %}

{% block head_title %}
{{ recipe['name'] }}
{% endblock %}

{% block Page_Title %}
My Recipe Collection
{% endblock %}

{% block Recipe_Title %}
{{ recipe['name'] }}
{% endblock %}

{% block Recipe_Description %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='/img/recipe.name'.format(recipe.pic)) }}" alt="{{ recipe['description'] }}">
    </div>
      <div class="col-md-8">
        <h4 class="font-weight-bold mb-0">Ingredients</h4>
            {% for ingredient in ingredients %}
            <br><span class="text-muted font-weight-normal"> {{ ingredient }} </span><br>
            {% endfor %}
        <h4 class="font-weight-bold mb-0">Directions </h4>
            {% for step in directions %}
            <br><span class="text-muted font-weight-normal"> {{ step }}</span><br>
            {% endfor %}

{#        <h4 class="font-weight-bold mb-0">Beneficiary Phone: <span class="text-muted font-weight-normal"> {{ beneficiary.tel }}</span></h4>#}
{#        <h4 class="font-weight-bold mb-0">Beneficiary DOB: <span class="text-muted font-weight-normal"> {{ beneficiary.dob }}</span></h4>#}
{#        <h4 class="font-weight-bold mb-0">Beneficiary Description: <span class="text-muted font-weight-normal"> {{ beneficiary.desc }}</span></h4>#}
    </div>
    </div>
  </div>
{% endblock %}

{% block Heading1_title %}
    Another Recipe
{% endblock %}

{% block Heading1_contents %}
    It'd delicious
{% endblock %}

{% block Heading2_title %}
    View recipe
{% endblock %}

{% block Heading2_contents %}
    Also delicious
{% endblock %}

{% block Heading3_title %}
    Another photo
{% endblock %}

{% block Heading3_contents %}
    Even more delicious
{% endblock %}

{% block footer_contents %}
    Chris Harnett <br>
    Student Number 20188141
{% endblock %}